* {
    background-color: #34433c;
}
body:not(h1),h3,input[type="submit"],input[type="reset"]  {
    text-align:center;
    color:white;
    font-family:'Times New Roman';
    font-weight:lighter;
}
h1 {
    position: relative;
    display:inline-block;
    margin-top:13px;
    font-weight:lighter;
    font-size:280%;
    margin-bottom:0px;
    right:600px;
    text-decoration: underline solid white;
}
#order{
    position: relative;
    box-sizing: border-box;
    display:inline-block;
    margin:10px;
    border:1px solid white;
    padding:5px;
    border-radius:10px;
}

#likes{
    bottom:10px;
}
a:not(#homebutton, .author, #homeh) {
    color:white;
    font-weight:lighter;
    font-family:'Times New Roman';
    text-decoration: none;
}
a:not(#posttitle, #homebutton, .author, #homeh) {
    
    display:inline;
    align-items: center;
    justify-content: center;
    
    box-sizing:border-box;
    background-color:#34433c;
    border:2px solid #34433c;
    border-radius:10px;
    margin:5px;
    height:50%;
    background-color:white;
    color:#34433c;
    padding:5px;
    transition:all .3s ease-out;
}
#homebutton{
    color:white;
    font-weight:lighter;
    font-family:'Times New Roman';
    text-decoration: underline solid white;

}


nav{
position: fixed;
display:flex;
align-items: center;
justify-content: center;
right:10px;
padding:5px 10px 10px 10px;



}
#myprofile{
    position: relative;
    
}
#posttitle p{

    position:relative;
    width:300px;
    bottom:8px;
    right:80px;
}

#posts {
    border: 1px solid white;
    border-radius:10px;
    display:inline-block;
    padding:5px;

    width:350px;
    color:#34433c;
    background-color: white;
}

#posts h2,#posts h3, #posts p{
    background-color:white;
    color:#34433c;
}
#posts p{
    font-size:70%;
    margin:2px;
}

input[type="submit"]{
    
    transition:all .3s ease-out;
    background-color: white;
      border-radius: 10px;
      border:2px solid white;
      color:#34433c;
      font-size:110%;
      padding:2px;
      
}

input[type="submit"]:hover{
    font-size:120%;
    transition:all .3s ease-in;
}
select{
    position:relative;
    color: white;
    border-radius:5px;
    border: 1px solid white;
    opacity:.5;
    left:18px;
}
#pagenum{
    opacity:.5;
}
#appliquer{
    display:inline-block;
    font-size:75%;
    opacity:.75;
}
div:not(.post){
    display: flex;
    justify-content: center;
    align-items: center;
}
.post{
    display:block;
    box-sizing: border-box;
    border:1px solid #34433c;
    border-radius: 10px;
    padding:25px;
    padding-right:100px;
    padding-left:100px;
    height:auto;
    
}
.post+.post{
    margin-top:15px;

}
.post{
    
    display:block;
    color:#34433c;
    background-color: white;
}
input[type='radio']{
    color: white;
    opacity:.5;
}
input[type='radio']:checked{
    color: white;
    opacity:1;
}
#profileinfo{
    display:block;
}
#profileinfo h2,#profileinfo p{
    display:inline;
    position:relative;
    bottom:40px;
}
#followblock{
    display:block;
    margin-bottom:0px;
}
#followers, #followed{
    display: inline;
    font-weight: bold;
    text-decoration: underline solid white;
    padding: 7px;
    margin:5px;
}
#followbutton{
    margin-top: 15px;
}
.author{
    display: inline-block;
    font-weight: bold;
    background-color: white;
    color: #34433c;
    position:relative;
    text-decoration: underline;
    font-size:80%;
    right:145px;
    bottom:18px;
    max-width:50px;
}

#page{
    font-size:80%;
    display:inline-block;
    position: relative;
    padding-top:10px;
    top:30px;
    right:17px;
}

form{
    
    padding-top:0px;
}
#info{
    box-sizing: border-box;
    position:relative;
    margin:0px;
    background-color: white;
    height:0px;
}
#info p{
    width:auto;
}
#postinfo{
    position:relative;
    width:300px;
    right:80px;
}
#home{
    display: inline;
    position:relative;
    bottom:50px;
    font-size:200%;
    
}

